//пример INFO для скина doomer

1 //видно ли у скина оружие

//Дальше количества кадров в анимациях:
1 //stand
4 //walk
7 //death
1 //attack
1 //seeup
1 //seedown
1 //attackup
1 //attackdown
1 //pain

//дальше идут позиции спрайта с оружием относительно центра игрока (сдвиг на n пикселей). Учти, что точка отрисовки спрайта с оружием находится в (32, 2) относительно левого верхнего угла спрайта, а само оружие находится в правом верхнем углу спрайта при его размере 64х64
0 //сдвиг по X при stand
2 //сдвиг по Y при stand
0 //сдвиг по X при walk
2 //сдвиг по Y при walk
4 //сдвиг по Х при seeup
2 //сдвиг по Y при seeup
4 //сдвиг по X при seedown
-2 //сдвиг по Y при seedown

//В файл ничего кроме этих чисел не вводить. Комментарии удали, если будешь использовать.